<div class="container-toobar">
  <mat-form-field appearance="outline">
    <mat-label>Pesquisa</mat-label>
    <input matInput placeholder="Descreva o dado que deseja pesquisar" (keyup)="filter($event)">
  </mat-form-field>
  <button mat-raised-button color="primary" routerLink="/subcategory/new">Nova Sub Categoria</button>
</div>
<div class="div-table mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="Nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Descrição">
      <th mat-header-cell *matHeaderCellDef>Descrição</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
    <ng-container matColumnDef="Custo">
      <th mat-header-cell *matHeaderCellDef>Custo</th>
      <td mat-cell *matCellDef="let element">{{ element.cost }}</td>
    </ng-container>
    <ng-container matColumnDef="Categoria">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let element">{{ element.category.name }}</td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="actions">
        <button mat-button routerLink="/subcategory/{{ element.id }}">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(element)" mat-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns;"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
</div>
